:root {
    --main-bg-color: #424143;
    --main-text-color: white;
    --light-green-color: #00ff00;  /*#00e60a */
    --dark-green-color: #009900; /*#038f0a*/
    --light-red-color: #ff0000; /*#ff0000*/
    --main-border: 1px solid #cdcdcd;
}

html, body {
    margin: 0;
    padding: 0;
    min-height: 100vh;

    background:#424143;
    font-family: Roboto, Arial, Helvetica, sans-serif;
    color:#ffffff;
}

#app{
    width: 100%;
    height: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center;
    align-items: center; */
}

#main-screen{
    width: 100%;
    height: 100%;
    min-height:100%;
    /* position: relative; */

    flex-grow:1;
    /* background: green; */
     display:flex;
    /* flex-direction:column; */
    /* overflow-x:hidden; */
}

#side-panel{
    /* background:grey; */
    min-width: 250px;
    border-right:var(--main-border);
}

/* JSTREE */

.jstree-default-dark {
    background: transparent;
}

.jstree-default-dark .jstree-clicked {
    /* background: transparent; */
    background: var(--dark-green-color);
    /* color: #000000; */
    border-radius: 2px;
    box-shadow: inset 0 0 1px #666666;
}

.jstree-default-dark .jstree-icon:empty {
    /* width: 16px;
    height: 16px;
    margin-top: 4px; */
      /* line-height: 4px; */
}

.jstree-themeicon{
    /* width: 12px;
    height: 12px; */
}

.jstree-themeicon-custom{
    background-size: contain!important;
    width: 16px!important;
    height: 16px!important;
    margin-top: 4px!important;
}

.jstree-node.jstree-leaf a{
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
}

#jstree_search_container{
    padding: 1rem;
    width: 100%;
    box-sizing: border-box;
    position:relative;
}
#jstree_search_container i{
    position: absolute;
    top: 1.2rem;
    right: 1.2rem;
    color: #cdcdcd;
}


#jstree_search{
    width: 100%;
    box-sizing: border-box;
    position: relative;
}

.jstree-default-dark{
    font-size: .9rem
}

.jstree-default-dark .jstree-anchor{
    color:#ffffff;
}


.jstree-default-dark .jstree-anchor.jstree-search{
    color: var(--light-green-color);
}


#router-view{
    width: 100%;
    /* height: 100%; */
    min-height:100%;
    position: relative;

    flex-grow:1;
    /* background: green; */
     display:flex;
    /* flex-direction:column; */
    overflow-x:hidden;
}

.view-container{
    box-sizing: border-box;
    display:flex;
    position: absolute;
    top: 0;
    left:0;
    width: 100%;
    height:100%;
    flex-direction:column;
    flex-grow:1;
    visibility:hidden;
    /* transform: translateX(100%); */
    /* transition: transform .5s ease-in-out; */
}





#top-header{
    padding: .5rem;
    display: flex;
    align-items: center;
    /* background: red; */
    border-bottom: var(--main-border);
}

#top-logo{
    margin-right: 1rem;
}

#top-logo img{
    width: 1.4rem;
}

#top-menu{

}

#top-menu a{
   margin-right: .7rem;
}

.router-link{
    cursor: pointer;
}
.router-link.active{
    color: var(--light-green-color);
}

/* Main view */
#main-view{
    /* background-color: blue;; */
    padding: 1rem;
}



/* Disgram view */

#diagram-view{
    /* background-color: orange; */
}

#diagram-paper-container{
    width:100%;
    height: 100%;
    /* min-height: 100vh; */
    display:flex;
    flex-grow: 1;
    flex-direction:column;
    position: relative;
}

#diagram-header-container{
    /* position: absolute; */
    min-height: 3rem;
    width: 100%;
    flex-grow: 0;
    display: flex;
    align-items:center;
    justify-content: space-between;
    background:#424143;
    color: #fff;
}

#diagram-header{

    font-size: 20px;
    padding: 0 0 0 2rem;
}

#right-top-panel{
    display: flex;
    align-items:center;
    justify-content: space-between;
    /* padding: 0 2rem 0 0; */
}

#right-top-panel div{
    margin-right: 1rem;
}

#process-save-button{

}

#processes-select{

}

#diagram-scale{

}

.flow-diagram-embeds-list li{
    margin-bottom: 1rem;
}

#diagram-paper{
    box-sizing: border-box;
    /* border: 1px solid #E2E2E2; */
    background-color: #000000;
    overflow: hidden;
    width:100%;
    flex-grow: 1;
}

#diagram-code-editor-container{
    box-sizing: border-box;
    /* border-top: var(--main-border); */
    position: absolute;
    left:0;
    width:50%;
    height:100%;

}
#diagram-code-editor-divider{
    position: absolute;
    right:0;
    width: 2px;
    height: 100%;
    background: transparent;
    /* z-index: 1; */
}
#diagram-code-editor-divider:hover{
    background: #227bd4;
    outline: 2px solid #227bd4;
}


#diagram-code-editor{
    position:absolute;
    width: 100%;
    height:100%;
    left:0;
}


.horizontal-section-divider{
    cursor: ns-resize;

}


.vertical-section-divider{
    cursor: ew-resize;
}



.joint-element {
    cursor: auto;
}

.code-editor-floating-button{
    position:absolute;
    right: 1.5rem;

}
.code-editor-close-button{
    top: 1rem;
}
.code-editor-open-button{
   top: 1rem;
   left: 1rem;
   width: 50px;
   display:none;
}

.cursor-grabbing{
    cursor: grabbing;
}


/* Table view */

table {
    width: 100%;
    border-collapse: collapse;
    border-spacing: 0;

}

#table-view{
    /* background-color: violet; */
    padding: 1rem;
    display:flex;
    flex-direction: row;
}

#entities-list{
    min-width: 10%;
    border-top: var(--main-border);
}

#entities-list div{
    padding: .7rem;
    border-right: var(--main-border);
    border-bottom: var(--main-border);
    border-left: var(--main-border);
    cursor: pointer;
}

#entities-list div.active{
    /* border-right:none; */
    color: var(--light-green-color);
}

#entity-table-container{
    flex-grow:1;
    padding-left: 2rem;
    max-height: 100%;
    overflow-y: auto;
    /* background:green; */
}

#entity-table{
    width:100%;
    border-left: var(--main-border);
    border-bottom: var(--main-border);
}

#entity-table th, #entity-table td{
    padding: .7rem;
    border-top: var(--main-border);
    border-right: var(--main-border);
    text-align: left;
}

#form_component{
    padding: 1rem;

}

#form_component label{
    display: block;
    margin-bottom: .5rem;
    text-transform: capitalize;
    font-weight: normal;
}

#form_component input, #form_component select{
    margin-bottom: 1rem;
}



/* Modal dialogs */

.modal-dialog-background{
    position: fixed;
    z-index: 9999;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out;
}

.modal-dialog-background.active{
    visibility: visible;
    opacity: 1;
}

.modal-dialog{
    position: relative;
    min-width: 50%;
    min-height: 50%;
    background: var(--main-bg-color);
    border: var(--main-border);
    border-radius: .5rem;
    /* box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.5); */
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    /* visibility: hidden;
    opacity: 0;
    transition: opacity .5s ease-in-out; */
}

#modal-dialog-header{
    padding: 1rem;
    border-bottom: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#modal-dialog-title{
    font-size: 1.5rem;
    font-weight: bold;
}

.modal-dialog-background.alert .modal-dialog{
    border: 1px solid var(--light-green-color);
}

.modal-dialog-background.error .modal-dialog{
    border: 1px solid var(--light-red-color);
}

#modal-dialog-header-close{

}
#modal-dialog-body{
    padding: 1rem;
    flex-grow: 1;
}

#modal-dialog-footer{
    padding: 1rem;
    border-top: var(--main-border);
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

#flow-diagram-popup{
    height: 100%;
    min-height: 400px;
    background: grey;
    /* display: flex; */
}
#flow-diagram-popup-paper{
    /* min-width: 100%;
    min-height: 400px; */

    box-sizing: border-box;
    /* border: 1px solid #E2E2E2; */
    background-color: #000000;
    overflow: hidden;
    width: 100%;
    height: 100%;
    min-height: 400px;
    flex-grow: 1;

}

#hidden-elements{
    position:absolute;
    top:0;
    left:0;
    left: -9999px;

    min-width: 800px;
    min-height: 500px;
    /* background: #666666; */
    visibility: hidden;
}

.CodeMirror{
    height: 100%;
    width: 100%;
}

.display-none{
    display: none;
}


